*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  
}

body {
	color: #424242;
  	font: 18px 'Open Sans', Helvetica, Arial, sans-serif;
  	text-align: center;
}

body h1 {
	font-size: 32px;
	text-align: center;
}

footer {
	margin: 0 auto;
	text-align: center;
}

img {
	margin: 0 auto;
	width: 18px;
	height: 18px;
	margin-top: 1px;
}

#headline {
	margin-bottom: 50px;
}

#container {
	margin: 80px auto;

}

/*GAME BOARD STYLING*/
#minesweeper {
}

table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

#minesweeper table {
	margin: 0px auto;
	margin-bottom: 20px;
	border-collapse: separate;
	border-spacing: 2px;
	empty-cells: show;
}

#minesweeper tr {
	height: 30px;
}

#minesweeper td {
	width: 30px;
	height: 15px;
	border: 1px solid #a2a2a2;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.cell-unclicked {
	background-color: #e9475a;
	font-size: 0px;
}

.cell-clear {
	background-color: #90b3ff
}

.cell-bomb {
	/*background-color: black;*/
}

.explode {
	background-color: #ffdd00;
}




