*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

body {
	color: #424242;
  	font: 18px 'Open Sans', Helvetica, Arial, sans-serif;
}

body h1 {
	font-size: 32px;
}

.container {
	margin: 0 auto;
}

#calculator {
	background: #f8f8f8;
	border: 1px solid #c7c7c7;
	overflow: hidden;
	min-width: 350px;
	width: 350px;
	margin: 100px auto;
	padding: 10px;
	border-radius: 5px;

}

#screen {
	background: #f7ffd4;
	border: 1px solid #959595;
	border-radius: 5px;
	font-size: 27px;
	line-height: 36px;
	margin: 10px auto;
	text-align: right;
	padding: 7px;
}

[class*='keys'] {
	float: left;
	margin: 5px 0px;
	margin-right: 8px;
	padding: 10px 5px;
	width: 23%;
}

[class*='key-right'] {
	margin-right: 0px;
}

.keys {
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	cursor: pointer;
	text-align: center;
}


.number {
	background: -webkit-linear-gradient(#ffffff, #e8e8e8);
	background:    -moz-linear-gradient(#ffffff, #e8e8e8);
	background:         linear-gradient(#ffffff, #e8e8e8);
}

.operator {
  color: #000000;
  background: -webkit-linear-gradient(#c7c7c7, #c0c0c0);
  background:    -moz-linear-gradient(#c7c7c7, #c0c0c0);
  background:         linear-gradient(#c7c7c7, #c0c0c0);
}


#allclear {
	color: #f3f3f3;
	background: -webkit-linear-gradient(#ff485d, #eb4255);
	background:    -moz-linear-gradient(#ff485d, #eb4255);
	background:         linear-gradient(#ff485d, #eb4255);
}

#equals {
	color: #fff;
	background: -webkit-linear-gradient(#4087fd, #3879e4);
	background:    -moz-linear-gradient(#4087fd, #3879e4);
	background:         linear-gradient(#4087fd, #3879e4);

}

.keys:hover, #allclear:hover, #equals:hover {
  background: #fff;
  color: #000000;
  border: 1px solid #c1c1c1;
}

footer {
	margin: 100px auto;
}

#description {
	margin: 100px auto;
	text-align: center;
}